#respuesta{
    background-color: #fafc4e;
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px ;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-style: solid;
    width: 90%;

}       

#encabezado{
    background-color: #dfe4e4;
    text-align: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-style:  solid;
    width: 90%;

}

hr{
    background-color: #1d324d;
    border-style: dashed doube none;
    height: 2px;
    border-radius: 20px;

}

#btnPeticion{
    border-radius: 20px;
    background-color: #1d324d;
    height: 50px;
    width: 100px;

    



}

#btnPeticion{
    transition-duration: 0.4s;
}

#btnPeticion:hover{
    background-color: #fafc4e;
    box-shadow: 0 2px 30px 0 rgba(255, 255, 255, 0.2), 0 2px 30px 0 rgba(255, 255, 255, 0.19);

}

