


p{
  padding: 0p;
}

#resultado{
}

.card{
  display: inline-block;
  margin: 1em;
  background-color: rgba(174, 0, 255, 0.116);
  
  width: 350px;

  
  box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #bc13fe,
            0 0 0.8rem #bc13fe,
            0 0 2.8rem #bc13fe,
            inset 0 0 1.3rem #bc13fe; 
}

@keyframes pulsate {
    
  100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #bc13fe,
      0 0 80px #bc13fe,
      0 0 90px #bc13fe,
      0 0 100px #bc13fe,
      0 0 150px #bc13fe;
  
  }
  
  0% {

    text-shadow:
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 6px #fff,
    0 0 10px #bc13fe,
    0 0 45px #bc13fe,
    0 0 55px #bc13fe,
    0 0 70px #bc13fe,
    0 0 80px #bc13fe;

}
  
}


.title{
  margin-top: -19px;
}

.lblTitle{
  background-color: rgba(174, 0, 255, 0.116);
  color: white;
  border-bottom: rgb(233, 233, 233) 3px ridge;
}

.txtTitle{
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  text-align: justify;
  border-bottom: rgb(233, 233, 233) 3px ridge;
  text-align: justify;
  margin-left: 5px;
  margin-right: 5px;

  height: 60px;
}

.img{
  border-bottom: rgb(233, 233, 233) 3px ridge;
  padding-top: 5px;
}

.imgs{

  width: 200px;
}

.ids{
  height: auto;
}

  .lblIds{
      display:inline-flex;
      background-color: rgba(174, 0, 255, 0.116);
      height: 50%;
  }

  .lblAlbumId{
    background-color: rgba(174, 0, 255, 0.116);
      color: white;
      width: 175px;
      background-color: rgba(174, 0, 255, 0.116);
  }

  .lblId{
    background-color: rgba(174, 0, 255, 0.116);
      color: white;
      width: 175px;
  }

  .txtIds{
      display:inline-flex;
      height: 48%;
      color: white;
  }

  .txtAlbumId{
      width: 175px;
      background-color: rgba(174, 0, 255, 0.116);
  }

  .txtId{
      width: 175px;
      color: white;
  }





      .modalDialog {
          position: fixed;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: rgba(0,0,0,0.8);
          z-index: 99999;
          opacity:0;
          -webkit-transition: opacity 400ms ease-in;
          -moz-transition: opacity 400ms ease-in;
          transition: opacity 400ms ease-in;
          pointer-events: none;
      }
      .modalDialog:target {
          opacity:1;
          pointer-events: auto;
      }
      .modalDialog > div {
          width: 400px;
          position: relative;
          margin: 10% auto;
          padding: 5px 20px 13px 20px;
          border-radius: 10px;
          background: #fff;
          background: -moz-linear-gradient(#fff, #999);
          background: -webkit-linear-gradient(#fff, #999);
          background: -o-linear-gradient(#fff, #999);
        -webkit-transition: opacity 400ms ease-in;
      -moz-transition: opacity 400ms ease-in;
      transition: opacity 400ms ease-in;
      }
      .close {
          background: #606061;
          color: #FFFFFF;
          line-height: 25px;
          position: absolute;
          right: -12px;
          text-align: center;
          top: -10px;
          width: 24px;
          text-decoration: none;
          font-weight: bold;
          -webkit-border-radius: 12px;
          -moz-border-radius: 12px;
          border-radius: 12px;
          -moz-box-shadow: 1px 1px 3px #000;
          -webkit-box-shadow: 1px 1px 3px #000;
          box-shadow: 1px 1px 3px #000;
      }
      .close:hover { background: red; }


#btnResultado{
  color: white;
  width: 100px;
  height: 50px;
  transition-duration: 0.4s;
  animation: pulsate 1.5s infinite alternate;  
  border: 1px solid #fff;
  box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #bc13fe,
            0 0 0.8rem #bc13fe,
            0 0 2.8rem #bc13fe,
            inset 0 0 1.3rem #bc13fe;
            background-color: #1b0025
            

}

#btnResultado:hover{
  background-color: #130068;
  transition-duration: 0.4s;
  
  
}


#encabezado{
    background-color: rgb(255, 197, 197);
    border-radius: 20px;    
    width: 90%;
}   

#contenido{
    background-color: #1b0025; 
    width: 90%;
    height: 1000px; 
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    animation: pulsate 1.5s infinite alternate;  
    border: 1px solid #fff;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #bc13fe,
              0 0 0.8rem #bc13fe,
              0 0 2.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe; 
  }
  
  @keyframes pulsate {
      
    100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #bc13fe,
        0 0 80px #bc13fe,
        0 0 90px #bc13fe,
        0 0 100px #bc13fe,
        0 0 150px #bc13fe;
    
    }
    
    0% {
  
      text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px #bc13fe,
      0 0 45px #bc13fe,
      0 0 55px #bc13fe,
      0 0 70px #bc13fe,
      0 0 80px #bc13fe;
  
  }
}


.neonText {
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #bc13fe,
      0 0 82px #bc13fe,
      0 0 92px #bc13fe,
      0 0 102px #bc13fe,
      0 0 151px #bc13fe;
  }
    
  body {
    background-color: #010a01;
    justify-content: center;
    align-items: center;  
    
  }  
   
  h1 {
    width: 90%;
    animation: pulsate 1.5s infinite alternate;  
    border: 1px solid #fff;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 0 0 .2rem #fff,
              0 0 2rem #bc13fe,
              0 0 0.8rem #bc13fe,
              0 0 2.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe; 
  }
  
  @keyframes pulsate {
      
    100% {
  
        text-shadow:
        0 0 40px #bc13fe,
        0 0 80px #bc13fe,
        0 0 90px #bc13fe,
        0 0 100px #bc13fe,
        0 0 150px #bc13fe;
    
    }
    
    0% {
  
      text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px #bc13fe,
      0 0 45px #bc13fe,
      0 0 55px #bc13fe,
      0 0 70px #bc13fe,
      0 0 80px #bc13fe;
  
  }}
